body {
    margin: 0;
    padding: 20px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-image: url('https://static.hitek.fr/img/actualite/ill_m/1895733859/deadpool.webp');
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    min-width: 340px;
    min-height: 720px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden;
    text-align: center;
    backdrop-filter: blur(15px);
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: normal;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.logo {
    font-size: 2.5rem;
    color: #e50914;
    margin: 50px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.profile-icon {
    width: 40px;
    height: 40px;
    background-image: url('https://i.pinimg.com/originals/b6/77/cd/b677cd1cde292f261166533d6fe75872.png');
    background-size: cover;
    border-radius: 5px;
    border: 1px solid white;
}

.username {
    margin-top: 5px;
    font-size: 0.9rem;
    color: #fff;
}

p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    max-width: 600px;
    padding: 0 2px;
}

.form-group {
    width: 350px;
    max-width: 400px;
    min-width: 300px;
    margin-bottom: 1rem;
    margin-left: 10px;
    margin-right: 15px;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 1rem;
}

.form-group input::placeholder {
    color: #ccc;
}

.btn {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 1rem;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 350px;
    margin-bottom: 1rem;
}

.btn:hover {
    background-color: #b20710;
}

.footer {
    position: absolute;
    bottom: 1px;
    font-size: 0.9rem;
    color: #ccc;
    width: 100%;
    text-align: center;
    background-color: #101010;
    padding: 10px 0;
}

.footer a {
    color: #ccc;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

    .toggleSwitch span span {
        display: none;
    }

    .toggleSwitch {
        display: inline-block;
        height: 18px;
        margin: 10px;
        position: relative;
        overflow: visible;
        padding: 0;
        cursor: pointer;
        width: 350px;
        background-color: #fafafa;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 34px;
        user-select: none;
    }
    .toggleSwitch * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .toggleSwitch label,
    .toggleSwitch > span {
        line-height: 20px;
        height: 20px;
        vertical-align: middle;
    }
    .toggleSwitch input:focus ~ a,
    .toggleSwitch input:focus + label {
        outline: none;
    }
    .toggleSwitch label {
        position: relative;
        z-index: 3;
        display: block;
        width: 100%;
    }

    .toggleSwitch input {
        position: absolute;
        opacity: 0;
        z-index: 5;
    }
    .toggleSwitch > span {
        position: absolute;
        left: 0;
        width: calc(100% - 6px);
        margin: 0;
        text-align: left;
        white-space: nowrap;
            margin:0 3px;
    }
    .toggleSwitch > span span {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
        display: block;
        width: 50%;
        margin-left: 50px;
        text-align: left;
        font-size: 0.9em;
        width: auto;
        left: 0;
        top: -1px;
        opacity: 1;
        width:40%;
        text-align: center;
            line-height:34px;
    }

    .toggleSwitch a {
        position: absolute;
        right: 50%;
        z-index: 4;
        display: block;
        top: 3px;
        bottom: 3px;
        padding: 0;
        left: 3px;
        width: 50%;
        background-color: #f80000;
        border-radius: 4px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    .toggleSwitch > span span:first-of-type {
        color: #FFF;
        opacity: 1;
        left: 0;
        margin: 0;
            width: 50%;
    }
    .toggleSwitch > span span:last-of-type {
        left:auto;
        right:0;
        color: #999;
        margin: 0;
            width: 50%;
    }
    .toggleSwitch > span:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: -2px;
        border-radius: 30px;
        -webkit-transition: all 0.2s ease-out;
        -moz-transition: all 0.2s ease-out;
        transition: all 0.2s ease-out;
    }

    .toggleSwitch input:checked ~ a {
        left: calc(50% - 3px);
    }

    .toggleSwitch input:checked ~ span span:first-of-type {
        left:0;
        color:#999;
    }
    .toggleSwitch input:checked ~ span span:last-of-type {

        color:#FFF;
    }

    /* Switch Sizes */
    .toggleSwitch.large {
        width: 60px;
        height: 27px;
    }
    .toggleSwitch.large a {
        width: 27px;
    }
    .toggleSwitch.large > span {
        height: 29px;
        line-height: 28px;
    }
    .toggleSwitch.large input:checked ~ a {
        left: 41px;
    }
    .toggleSwitch.large > span span {
        font-size: 1.1em;
    }
    .toggleSwitch.large > span span:first-of-type {
        left: 50%;
    }
    .toggleSwitch.xlarge {
        width: 80px;
        height: 36px;
    }
    .toggleSwitch.xlarge a {
        width: 36px;
    }
    .toggleSwitch.xlarge > span {
        height: 38px;
        line-height: 37px;
    }
    .toggleSwitch.xlarge input:checked ~ a {
        left: 52px;
    }
    .toggleSwitch.xlarge > span span {
        font-size: 1.4em;
    }
    .toggleSwitch.xlarge > span span:first-of-type {
        left: 50%;
    }

    .profile-container {
        position: relative;
    }
    
    .profile-icon {
        cursor: pointer;
    }
    
    .message {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #ff0f0f75;
        color: white;
        padding: 15px;
        text-align: center;
        z-index: 10;
        transition: opacity 0.3s ease, transform 0.3s ease;
        transform: translateY(-50%);
    }
    
    .message.show {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }
    

@media (max-width: 600px) {
    .logo {
        font-size: 2rem;
    }

    .profile-icon {
        width: 35px;
        height: 35px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 1rem;
    }

    .footer {
        font-size: 0.8rem;
    }

    .form-group input {
        font-size: 0.9rem;
    }
}
